* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Inter, sans-serif;
  text-align: center;
}

body,
.container {
  height: 100vh;
}
.container,
.card {
  margin: auto;
  display: flex;
}

.container {
  width: 550px;
  background: #23252C;
  color: #fff;
  align-items: center;
}
.card {
  width: 320px;
  flex-direction: column;
  background: #1A1B21;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.title {
  font-size: 1.6em;
  margin: 0;
  padding: 21px 0 0;
}

.subtitle {
  color: #F3BF99;
  font-size: 0.9em;
  margin: 0.5em 0;
}

.website {
  font-size: 0.7em;
  margin: 0.5em 0 1.5em;
}

h2 {
  margin-bottom: 0;
  font-size: 1em;
}

.about {
  margin-top: 2em;
}

.about,
.interest {
  text-align: left;
  padding: 0 2em;
}

.about p,
.interest p {
  font-size: 0.7em;
  line-height: 150%;
  margin-top: 5px;
}

.interest {
  margin-bottom: 1.5em;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 30px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 0;
  border-radius: 6px;
  font-size: 0.8em;
}

.btn-dark {
  background: #5093E2;
  color: #fff;
}

footer {
  background: #161619;
  width: 100%;
}

.social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2em;

}

.social-links li a {
  color: #918E9B;
}
